In [1]:
import os
import pandas as pd

In [2]:
# init main df
main_df = pd.DataFrame()

# loop through all sub folders
for subdir, dirs, files in os.walk("C:\\Users\\adboo\\Downloads\\2020-citibike-tripdata"):
    for file in files:
        filepath = os.path.join(subdir, file)
        
        # check if CSV data file
        if (".csv" in filepath):
            # make sample df
            df = pd.read_csv(filepath, low_memory=False)
            df = df.sample(frac=0.02, random_state=42)
            main_df = pd.concat([main_df, df], axis=0)
            print(filepath)
    
main_df = main_df.reset_index(drop=True)

C:\Users\adboo\Downloads\2020-citibike-tripdata\202001-citibike-tripdata\202001-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202001-citibike-tripdata\202001-citibike-tripdata_2.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202002-citibike-tripdata\202002-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202002-citibike-tripdata\202002-citibike-tripdata_2.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202003-citibike-tripdata\202003-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202003-citibike-tripdata\202003-citibike-tripdata_2.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202004-citibike-tripdata\202004-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202005-citibike-tripdata\202005-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202005-citibike-tripdata\202005-citibike-tripdata_2.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202006-citibike-tripdata\202006-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202006-citibike-tripdata\202006-citibike-tripdata_2.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202007-citibike-tripdata\202007-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202007-citibike-tripdata\202007-citibike-tripdata_2.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202007-citibike-tripdata\202007-citibike-tripdata_3.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202008-citibike-tripdata\202008-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202008-citibike-tripdata\202008-citibike-tripdata_2.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202008-citibike-tripdata\202008-citibike-tripdata_3.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202009-citibike-tripdata\202009-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202009-citibike-tripdata\202009-citibike-tripdata_2.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202009-citibike-tripdata\202009-citibike-tripdata_3.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202010-citibike-tripdata\202010-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202010-citibike-tripdata\202010-citibike-tripdata_2.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202010-citibike-tripdata\202010-citibike-tripdata_3.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202011-citibike-tripdata\202011-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202011-citibike-tripdata\202011-citibike-tripdata_2.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202012-citibike-tripdata\202012-citibike-tripdata_1.csv
C:\Users\adboo\Downloads\2020-citibike-tripdata\202012-citibike-tripdata\202012-citibike-tripdata_2.csv

In [3]:
main_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [4]:
main_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,055F23B33235B00C,classic_bike,2020-01-26 10:37:16.420,2020-01-26 10:40:50.865,3 St & 3 Ave,4028.03,Carroll St & 5 Ave,4060.09,40.675071,-73.987752,40.675162,-73.981483,member
1,67F1B32F63234F35,classic_bike,2020-01-28 23:09:19.625,2020-01-28 23:12:06.442,1 Ave & E 68 St,6822.09,E 63 St & 3 Ave,6830.02,40.765005,-73.958185,40.763954,-73.964600,member
2,F6C33B290B637F04,classic_bike,2020-01-28 17:47:42.826,2020-01-28 17:50:18.572,Amsterdam Ave & W 73 St,7260.09,W 76 St & Columbus Ave,7281.09,40.779668,-73.980930,40.780184,-73.977285,member
3,4D7C79785871DA6F,classic_bike,2020-01-10 16:48:08.411,2020-01-10 17:26:07.464,5 Ave & E 63 St,6904.06,5 Ave & E 103 St,7511.19,40.766368,-73.971518,40.792255,-73.952499,casual
4,6F255C402DFAAF5F,classic_bike,2020-01-20 13:19:16.467,2020-01-20 13:29:02.066,Park Pl & Church St,5288.08,Greenwich Ave & Charles St,5914.08,40.713342,-74.009355,40.735238,-74.000271,member

In [5]:
main_df["started_at"] = pd.to_datetime(main_df.started_at)
main_df["ended_at"] = pd.to_datetime(main_df.ended_at)

main_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,055F23B33235B00C,classic_bike,2020-01-26 10:37:16.420,2020-01-26 10:40:50.865,3 St & 3 Ave,4028.03,Carroll St & 5 Ave,4060.09,40.675071,-73.987752,40.675162,-73.981483,member
1,67F1B32F63234F35,classic_bike,2020-01-28 23:09:19.625,2020-01-28 23:12:06.442,1 Ave & E 68 St,6822.09,E 63 St & 3 Ave,6830.02,40.765005,-73.958185,40.763954,-73.964600,member
2,F6C33B290B637F04,classic_bike,2020-01-28 17:47:42.826,2020-01-28 17:50:18.572,Amsterdam Ave & W 73 St,7260.09,W 76 St & Columbus Ave,7281.09,40.779668,-73.980930,40.780184,-73.977285,member
3,4D7C79785871DA6F,classic_bike,2020-01-10 16:48:08.411,2020-01-10 17:26:07.464,5 Ave & E 63 St,6904.06,5 Ave & E 103 St,7511.19,40.766368,-73.971518,40.792255,-73.952499,casual
4,6F255C402DFAAF5F,classic_bike,2020-01-20 13:19:16.467,2020-01-20 13:29:02.066,Park Pl & Church St,5288.08,Greenwich Ave & Charles St,5914.08,40.713342,-74.009355,40.735238,-74.000271,member

In [6]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391244 entries, 0 to 391243
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             391244 non-null  object
 1   rideable_type       391244 non-null  object
 2   started_at          391244 non-null  datetime64[ns]
 3   ended_at            391244 non-null  datetime64[ns]
 4   start_station_name  391242 non-null  object
 5   start_station_id    391242 non-null  object
 6   end_station_name    390285 non-null  object
 7   end_station_id      390285 non-null  object
 8   start_lat           391244 non-null  float64
 9   start_lng           391244 non-null  float64
 10  end_lat             390286 non-null  float64
 11  end_lng             390286 non-null  float64
 12  member_casual       391244 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 38.8+ MB

In [7]:
main_df.rideable_type.value_counts()

rideable_type
classic_bike     335803
electric_bike     55441
Name: count, dtype: int64

In [8]:
main_df.to_csv("2020_citibike_sample.csv", index=False)